@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
  --secondary: #6b708d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  height: 50px;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 100px auto;
  background-color: #f2f4fc;
  width: 100vw;
}

/* ------------------------------------------------------------------------ */
/* ------------------------------ INDEX html ------------------------------ */
/* ------------------------------------------------------------------------ */

/* ------------------------------ Splash page ------------------------------ */

/* Your CSS code goes here */

/* ------ CIRCULAR ANIMATION ------ */

/* Your CSS code goes here */

/* ------------------------------ Navbar ------------------------------ */

nav, main, section, footer {
  margin: 50px 40px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav img {
  width: 60px;
  height: 18px;
}

nav div {
  display: flex;
  gap: 25px;
}

nav a {
  text-decoration: none;
  font-size: 24px;
  color: var(--secondary);
  font-weight: 500;
  
}

nav div :first-child {
  color: #0082f3;
}

.navContact {
  cursor: pointer;
  background-color: var(--primary);
  color: white;
  font-size: 17px;
  padding: 15px 30px;
}

/* ------------------------------ Header ------------------------------ */

main {
  display: flex;
  justify-content: center;
  gap: 20px;
}

main h2 {
  font-size: 50px;
  margin-bottom: 10px;
}

main h2:first-child {
  margin-top: 60px;
}

main p {
color: var(--secondary);
font-size: 20px;
font-weight: 400;
line-height: 1.5;
}

main div p:last-of-type{
  margin-bottom: 40px;
}

main a {
  text-decoration: none;
  color: var(--secondary);
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  line-height: 1.5;
}

main a:last-child {
  display: inline-block;
  color: white;
  background-color: var(--primary);
  padding: 15px 30px;
  font-weight: 400;
}

#character {
  position: relative;
  border: 1px solid black;
}
.creditCard {
position: absolute;
top: 0;
left: 0;
height: 20rem;
}
.smilingGuy {
height: 550px;
}
.emojiFinger {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 15rem;
}
header img {
  position:absolute;
  height: 5rem;
}
/* ------------------------------ Partners ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Recent projects ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Client reviews ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Services ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Questions form ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Footer ------------------------------ */

/* Your CSS code goes here */

/* -------------------------------------------------------------------------- */
/* ------------------------------ PROJECT html ------------------------------ */
/* -------------------------------------------------------------------------- */

/* ------------------------------ Project main ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ CONTACT-US html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* ------------------------------ Form ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ About html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* Your CSS code goes here */

/* --------------------------------------------------------------------------- */
/* ------------------------------ MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */

/* ------------------------- Smaller than 990px (tablet) ------------------------- */
@media (max-width: 990px) {
  /* Your CSS code goes here */
}

/* ------------------------- Smaller than 766px (mobile) ------------------------- */
@media (max-width: 766px) {
  /* Your CSS code goes here */
}

/* ------------------------------ Hamburguer menu ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Alert ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sticky scroll bar ------------------------------ */

/* Your CSS code goes here */
