@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
  --secondary: #6b708d;
  --turquoiseBlue: #43D2FF;
  --skyBlue: #A2D6F9;
  --lighterSkyBlue: #D1EDFF;
  --lightestBlue: #ECF7FF;
  --boxes: rgba(107, 112, 141, 0.1); /* This one isn't in figma but somehow I got it from the inspector in some boxes*/
  --backgroundWhite: #f2f4fc
  --dark: #292e47; 
  --yellow: #ffc600
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f4fc;
  width: 100vw;
  padding: 0 150px;
}

/* ------------------------------------------------------------------------ */
/* ------------------------------ INDEX html ------------------------------ */
/* ------------------------------------------------------------------------ */

/* ------------------------------ Splash page ------------------------------ */

/* Your CSS code goes here */

/* ------ CIRCULAR ANIMATION ------ */

/* Your CSS code goes here */

/* ------------------------------ Navbar ------------------------------ */

nav, main, section, footer {
  margin: 100px 40px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px;

}
nav img {
  width: 60px;
  height: 18px;
}

nav div {
  display: flex;
  gap: 25px;
}


nav a {
  text-decoration: none;
  font-size: 18px;
  color: var(--secondary);
  font-weight: 500;
  
}

nav a:hover {
  color: var(--primary);
}

nav div :first-child {
  color: #0082f3;
}

nav div :first-child:hover {
  color: var(--primary);
}

.navContact {
  cursor: pointer;
  background-color: var(--primary);
  color: white;
  font-size: 17px;
  padding: 15px 30px;
}

.navContact:hover {
  background-color: #292e47;;
  color: white;
}

/* ------------------------------ Header ------------------------------ */

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 70vw;
}

main h2 {
  font-size: 60px;
  margin-bottom: 15px;
  padding-top: 70px;
  font-weight: 600;
  color: #292e47;
  opacity: 95%;
  width: 40vw;
}

main h2:first-child {
  margin-top: 60px;
}

main p {
color: var(--secondary);
font-size: 20px;
font-weight: 400;
line-height: 1.5;
}

main div p:last-of-type{
  margin-bottom: 40px;
}

main a {
  text-decoration: none;
  color: var(--secondary);
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  line-height: 1.5;
  margin-right: 15px;
}

main a:last-child {
  display: inline-block;
  color: white;
  background-color: var(--primary);
  padding: 15px 30px;
  font-weight: 400;
}

main a:last-child:hover{
  background-color: #292e47;;
  color: white;
}

#character {
  position: relative;
  border: 1px solid black;

}
.creditCard {
position: absolute;
top: 0;
left: 0;
height: 20rem;
}
/* ! need to fit that guy image */
.smilingGuy {
height: 650px;
}
.emojiFinger {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 15rem;
}
header img {
  position:absolute;
  height: 5rem;
}
/* ------------------------------ Partners ------------------------------ */

#logo {
  display: flex;
  justify-content: space-evenly;
  margin: 150px 0;
}

#logo img {
  height: 40px;
}
/* ------------------------------ Recent projects ------------------------------ */

#projects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.projects-main {
  display: flex;
  justify-content: space-evenly;
  font-size: large;
  gap: 50px;
}

#projects h2 {
  font-size: 50px;
  margin-bottom: 50px;
  font-weight: 500;
}

#projects img {
  height: 230px;
}

.project-text {
  padding: 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
}
#projects a {
  text-decoration: none;
  color: var(--primary);
  font-weight: 500;
}
/* ------------------------------ Client reviews ------------------------------ */

#testimony {
  position: relative;
  background-color: #292e47;
  /* background-color: var(--dark); */
  height: 35vw;
  background-image: url(../images/testimonial-section/orbit.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#testimony h2 {
color: whitesmoke;
text-align: center;
font-size: 45px;
font-weight: bold;
padding: 80px;
}

.testimony-main p {
color: var(--yellow);
text-align: center;
font-size: 25px;
font-weight: bold;
padding: 5px;
}

.testimony-main div {
display: flex;
justify-content: center;
align-items: flex-end;
margin-top: 60px;
}

.person img {
  border-radius: 50%;
  height: 60px;
  margin-right: 5px;
}

.person div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} 
.testimony-main div p{
  font-size: 18px;
  font-weight: 400;
  color: #7a9ebd;
}
.testimony-main div p:last-child{
  font-size: 1rem;
  font-weight: 300;
  color: white;
  position: relative;
}

#emoji {
  position: absolute;
  bottom: 0;
  height: 35vw;
  width: 69vw;
  display: flex;
}

#emoji img {
  height: 160px;
}

.emoji-upperLeft {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 60px;
}

.emoji-upperRight {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 70px;
}
.emoji-bottomLeft {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 90px;
  margin-bottom: 30px;
}
.emoji-bottomRight {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 100px;
  margin-bottom: 30px;
}





/* ------------------------------ Services ------------------------------ */

#services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.services-main {
  display: flex;
  justify-content: space-evenly;
  font-size: large;
  height: 400px;
}

#services h2 {
  font-size: 50px;
  margin-bottom: 50px;
  font-weight: 500;
}


.little-img1 { 
  background-image: url(../images/services-section/icons/1.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-color: #f2f4fc;
  padding: 35px;
}
.little-img2 { 
  background-image: url(../images/services-section/icons/2.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-color: #f2f4fc;
  padding: 35px;
}
.little-img3 { 
  background-image: url(../images/services-section/icons/3.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-color: #f2f4fc;
  padding: 35px;
}

.serviceDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: white;
  margin-right: 30px;
  padding-left: 30px;
}

.service-text {
  padding: 20px;
  height: 200px;
  width: 275px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#services a {
  text-decoration: none;
  color: var(--primary);
  font-weight: 500;
}
/* ------------------------------ Questions form ------------------------------ */

#support {
  background-color: var(--yellow);
  height: 30vw;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#support h2 {
  font-size: 35px;
  font-weight: bold;
}

#support p {
  color: var(--secondary);
}

#email {
  background-image: url(../images/newsletter/icon/mail.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 8px;
  padding-left: 50px;
  border: 1px solid blue;
  height: 50px;
  width: 275px;
}

.submit-button {
  cursor: pointer;
  background-color: var(--primary);
  color: white;
  font-size: 17px;
  padding: 15px 30px;
  border: none;
}

/* ------------------------------ Footer ------------------------------ */

#footer {
  display: flex;
  justify-content: space-around;
  width: 80vw;
  height: 6vw;
  padding-right: 300px;
  gap: 250px;
}
.direction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 16vw;
  gap: 25px;
  color: var(--secondary);
  font-weight: 400;
}

.direction img {
  height: 30px;
}
.footer-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-links a {
  text-decoration: none;
  color: var(--primary);
  font-weight: 400;
}

/* -------------------------------------------------------------------------- */
/* ------------------------------ PROJECT html ------------------------------ */
/* -------------------------------------------------------------------------- */

/* ------------------------------ Project main ------------------------------ */

#main-project {
display: flex;
flex-direction: column;
gap: 20px;
}

#main-project h2 {
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 13px;
}

.project-subtitle {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
  color: var(--secondary);
}

#main-project img {
  max-width: 80vw;
  max-height: 30vw;
  object-fit: cover;
}

#main-project p {
  font-size: 20px;
  line-height: 30px;
}


/* ----------------------------------------------------------------------------- */
/* ------------------------------ CONTACT-US html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* ------------------------------ Form ------------------------------ */

#getData {
  font-size: 20px;
  font-weight: 400;
  color: var(--secondary);
}

#getData input, textarea {
  background-color: var(--boxes);
  border: none;
  padding: 20px;
  margin-bottom: 20px;
}

#getData h2 {
  color: black;
  font-size: 50px;
  height: 200px;
  display: flex;
  align-items: center;
}

#getData input:nth-child(3) {
  background-color: var(--primary);
  color: white;
  font-size: 16px;
  font-weight: bold;
  height: 80px;
}

.userName {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.emailPhone {
  display: flex;
  gap: 10px;
}

.mail {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}
.phone {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}
.message {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#getData ::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  opacity: 60%;
  font-size: 16px;
}

/* ----------------------------------------------------------------------------- */
/* ------------------------------ About html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* Your CSS code goes here */

/* --------------------------------------------------------------------------- */
/* ------------------------------ MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */

/* ------------------------- Smaller than 990px (tablet) ------------------------- */
/* ! */
@media (max-width: 990px) {
  /* Your CSS code goes here */
}



/* ------------------------- Smaller than 766px (mobile) ------------------------- */
@media (max-width: 766px) {
  /* Your CSS code goes here */
}

/* ------------------------------ Hamburguer menu ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Alert ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sticky scroll bar ------------------------------ */

/* Your CSS code goes here */
